@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@400;500;600&family=Inter:wght@500&display=swap');
 
*{ 
    margin:0; 
    padding: 0; 
    box-sizing: border-box; 
} 
body{ 
    color:#000 ; 
    font: 400 16px 'Inter', sans-serif ,small-caps;;; 
} 
a{ 
    color: inherit; 
    text-decoration: none; 
    transition: .4s; 
} 
ul li{ 
    list-style-type: none; 
} 
img{ 
    max-width: 100%; 
    max-height: 100%; 
} 

.container{ 
    max-width: 1920px;
  margin: 0 auto; 
  padding: 0px 94px ; 
} 



.container::after{
    display: block;
    content: ' ';
    width: 890px;
    height: 1px;
    background-color: black;
    position: relative;
    padding-left: 500px;
}
.item-logo{
    position: relative;
    top: 22px;
    left: 7px;

}

.content-item{
    display: flex;
  justify-content: flex-end;
align-items: center;

    
}

.item-logo2{
    position: absolute;
    right: 0px;

}
.header-logo_img{
    width: 25px;
    height: 28px;
} 
.henrik-div{
    display: flex;
    align-items: center;
    position: absolute;
    left: 130px;
}
.header-title2{
    margin-left: 1230px;
}
.header-logo_img2{
    position: relative;
    left: 1.5px;
    width: 26px;
height: 26px;
}
/* header-list */
.nav-main{ 
    margin: 0 auto;
    margin-bottom: 20px; 
} 
 
.nav-main_list{ 
    display: flex; 
    justify-content: center;
margin-right: 100px;
    gap: 30px; 
    font-weight: 400;
} 

.nav-main_link_selected{ 
    text-decoration: underline; 
} 

/* start of main */
.main-section{
    max-width: 1920px;
    margin: 0 auto;
}

.main-item{
    display: flex;
margin-left: 65px;
margin-right: 65px;

}

.item-data{  
   position: relative;
   left: 40px;
   top: 50px;
    
}
.item-banner{
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px; 
    letter-spacing: 1.1px;
    text-transform: uppercase;
}
.item-banner1{
    position: absolute;
    right: 20px;
}
.item-art{
    border-radius: 15px;
border: 1px solid #000;
}
.item-subtitle{
    width: 633px;
    height: 349px;
    flex-direction: column;
   margin-left: 59px;

}
.main-subtitle{
    
    color: #000;
font-size: 77px;
font-weight: 500;
line-height: 85px; 
text-transform: uppercase;
}
.main-subtitle::after{
    display: block;
    content: ' ';
    width: 600px;
    height: 1px;
    background-color: black;
    position: relative;
}
.main-content{
    color: #000;
    margin-top: 300px;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 136.364% */
letter-spacing: -0.44px;
}

.intro-subtitle{
    margin-bottom: 200px;
}
.intro_text{ 
  margin-bottom: 35px;   
} 
    /* first-image  */
.sourse-img{
position: absolute;
right: 0px;    
}
/* place-view-all */

.wrapper-full::after{
    display: block;
    content: ' ';
    background-color: #000;
    width: 1430px;
    height: 1px;
margin-left: 100px;
margin-right: 74px;
}
  .place_caption{
    display: flex;
    align-items: center;
    justify-content:space-between;
  margin-top:150px ;
  }
  .places_view-all{
    font-size: 16px;
    color: #000;
    text-decoration: none;
   
  }
  .places_view-all::after{
    display: block;
    content: ' ';
    width: 75px;
    height: 1.7px;
    background-color: black;
    position: relative;
  }
  .places_view-all:hover, .places_view-all:focus{
    opacity: .65;
  }
  .place_title{
    font-size: 20px;
    line-height: normal;
    position: relative;
    left: 110px;
  }
/* intro */
  .intro-item{
    display: flex;
    position: relative;
    left: 110px;
    top: 50px;
  }
  .intro-banner{
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px; 
    letter-spacing: 1.1px;
    text-transform: uppercase;
}
.intro-banner2{
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px; 
    letter-spacing: 1.1px;
    text-transform: uppercase;
    background: url(../img/svg/Frame.svg);
}
.main-wrap::after{
    display: block;
    content: '  ';
    width: 1400px;
    height: 1px;
    background-color: black;
    margin-left: 100px;
    margin-top: 550px;
}
.intro-art{
    position: absolute;
    right: 100px;
}

.item-art{
    margin-left: 10px;
}
.item-art-all{
    border-radius: 15px;
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
    margin-left: 5px;
}
/* images */
.place-cards{
    display: flex;
    margin-left: 110px;
    margin-top: 100px;
}
.place-div{
    margin-right: 80px;
    }
    .place-div3{
        position: relative;
        left:10px ;
        }
.item-img{
    height: 625px;
    width: 2000px;
    
}
.item-img2{
    margin-top: 50px;
}
.intro-img{
   height:200px ;
    width: 800px;
}
.banner-img{
    height:300px ;
    width: 800px;
}
.wrap-img{
    height: 450px;
    margin-top: 10px;
}
/* subtitles of images */
.banner-data{
    margin-top: 23.58px;
    color: #000;
font-size: 11px;
font-style: normal;
font-weight: 500;
line-height: 11px; /* 100% */
letter-spacing: 1.1px;
text-transform: uppercase;
}
.banner-altyn{
    display: inline-flex;
    padding: 4px 7.672px 5px 7px;
    align-items: flex-start;
    margin-bottom: 17px;
    color: #000;
font-size: 11px;
font-weight: 500;
line-height: 11px;
letter-spacing: 1.1px;
border-radius: 55px;
border: 1px solid #000;
}
.banner-content{
    margin-bottom: 64.98px;
color: #000;
font-size: 24px;
font-weight: 500;
}
.banner-content::after{
    display: block;
    content: ' ';
    background-color: #000;
    width: 250px;
    height: 1px;
}
.banner-content1{
    margin-bottom: 64.98px;
    color: #000;
    font-size: 37px;
    font-weight: 500;
}
.banner-content1::after{
    display: block;
    content: ' ';
    background-color: #000;
    width: 700px;
    height: 1px;
}
/* TRENDING */
.intro-wrap{
     max-width: 1920px;
    margin: 0 auto;
    padding: 0px 94px ; 
}
.intro-logo{
    display: flex;
    margin-top:64.68px ;
    align-items: center;
}
.main-logo_img{
    margin-left: 1px;
    height: 17px;
    width: 17px;
 }
.main-logo_img2{
   margin-left: 960px;
   height: 17px;
    width: 17px;
}
.main-title{
margin-left: 8px;
font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: 19px; /* 100% */
letter-spacing: -0.36px;
text-transform: uppercase;
}
/* POPULAR AND PRODUCT */

.design-banner{
    display: flex;
justify-content: space-between;
    margin-top: 30px;
    
}
.design-content{
margin-right: 39.37px;
}
.design-content:last-child{
    margin-right: 0;
    }

.design-data{
    display: flex;
    margin-top: 17.77px;
    margin-bottom: 17px;
}
.vision-content::after{
    display: block;
    content: ' ';
    background-color: #000;
    width: 500px;
    height: 1px;
}
.design-img{
    width: 630.067px;
height: 469.047px;
flex-shrink: 0;
}
.wrap-data{
    margin-top:4px;
    font-size: 11px;
font-style: normal;
font-weight: 500;
line-height: 11px; /* 100% */
letter-spacing: 1.1px;
text-transform: uppercase;
}
.wrap-vision{
    display: inline-flex;
    padding: 5px 7px 5px 7px;
    align-items: flex-start;
    text-transform: uppercase;
font-size: 11px;
font-weight: 500;
line-height: 11px;
letter-spacing: 1.1px;
border-radius: 55px;
border: 1px solid #000;
}
.vision-content{
 
    color: #000;
    font-size: 37px;
    font-weight: 500;  
    text-transform: uppercase; 
}
.sourse-subtitle{
    margin-bottom: 37px;
    font-size: 24px;
    font-weight: 500;
    line-height: 31.992px;
}
.sourse-subtitle::after{
    display: block;
    content: ' ';
    background-color: #000;
    width: 200px;
    height: 1px;
}
/* intro-jenny-slate */
.intro-wrapper{
    background: url(../img/div.qodef-e-media-image.jpg) no-repeat center;
    background-size: cover;
    margin-top: 123px;
    width: 1600px;
    height: 778px;
}
.intro-background{
    max-width: 1825px;
    margin: 0 auto; 
    padding: 0px 94px ;   
}
.intro-data{
    display: flex;
    padding-top: 45px;
    margin-bottom: 11px;
}
.intro-subtitle{
    position: relative;
    right: 10px;
    color: #000;
font-size: 77px;
font-weight: 500;
line-height: 85px; 
text-transform: uppercase;
   
}
.intro-subtitle::after{
    display: block;
    content: ' ';
    background-color: #000;
    width: 550px;
    height: 1px;
}
.intro-content{
    margin-top: 351px;
    color: #000;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 136.364% */
letter-spacing: -0.44px;
}
/* hot stuff */
.section-item{
    max-width: 1825px;
    margin: 0 auto; 
    padding: 0px 94px ;
    margin-top: 145px;   
}
.section-logo{
display: flex;
align-items: center;
margin-bottom: 37px;
}
.section-title{
    margin-right: 500px;
    font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: 19px; /* 100% */
letter-spacing: -0.36px;
text-transform: uppercase;
}
.section-title2{
position: relative;
left: 700px;
    font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: 19px; /* 100% */
letter-spacing: -0.36px;
text-transform: uppercase;
}
.section-title2::after{
    display: block;
    content: ' ';
    background-color: #000;
    height: 1px;
}
.section-subtitle{
    font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: 25.004px; /* 131.6% */
text-transform: uppercase;
}
.section-subtitle::after{
display: block;
content: ' ';
background-color: #000;
height: 1px;
}
.section-flex{
    display: flex;
    max-width: 1920px;
    margin: 0 auto; 
    margin-left: 50px;
     
}
.section-img{
    width: 221.784px;
height: 256.833px;
}
.section-img2{
    width: 221.784px;
    height: 146.005px;
}
.section-sourse{
    display: inline-flex;
    padding: 5px 7px 5px 7px;
    align-items: flex-start;
    margin-top: 26.86px;
    margin-bottom: 22px;
    text-transform: uppercase;
font-size: 11px;
font-weight: 500;
line-height: 11px;
letter-spacing: 1.1px;
border-radius: 55px;
border: 1px solid #000; 
}
.section-content{
    margin-right: 125.78px;
}
.section-content2{
    margin-right: 100.78px;
}

.section-content:last-child{
    margin-right: 0;
}

/* henrik is magazine */

.section-henrik{
    display: inline-flex;
    justify-content: center;
    position: relative;
left: 94px;
margin-top: 124.19px;

}
.name-title{
    font-size: 80px;
font-style: normal;
font-weight: 500;
line-height: 100px; /* 100% */
letter-spacing: -0.36px;

}
.name-title::before, .name-title::after{
    display: block;
content: ' ';
background-color: #000;
height: 1px;
margin-bottom: 32px;
margin-top: 31px;
}
/* footer */

.nav-footer{ 
    margin: 0 auto;
    margin-top: 177px; 
}
 .nav-footer::after{ 
    margin: 0 auto;
    display: block;
    content: ' ';
    background-color: #000;
    height: 0.5px;
    width: 475px;
} 
 
.nav-footer_list{ 
    display: flex; 
    justify-content: center;
    gap: 35.6px; 
    font-weight: 400;
} 
.nav-footer_item:hover{
    color: #808080;
}
.nav-footer_item{
    font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 173.333% */
letter-spacing: -0.3px;
text-transform: uppercase;
}
.nav-footer_item{
    margin-top: 29px;
}
/* footer end */
.footer-banner{
   position: relative;
   top: 53px;
   
}
.footer-end{
    display: flex;   
    margin-left: 625px;
}
.footer-title{
    margin-right: 2px;
    color: #808080;
text-align: center;
font-family: Inter;
font-size: 11px;
font-style: normal;
font-weight: 500;
line-height: 11px; /* 100% */
letter-spacing: 1.1px;
text-transform: uppercase;
}
.footer-subtitle{
    color: #000;
font-family: Inter;
font-size: 11px;
font-style: normal;
font-weight: 500;
line-height: 11px;
letter-spacing: 1.1px;
text-transform: uppercase;
}